<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Lors du déploiement du projet de bibilothèque de services, le contenu du fichier de configuration doit être ajouté au fichier app.config  
  de l'hôte. System.Configuration ne prend pas en charge les fichiers de configuration des bibliothèques. -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpEndpoint"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647"
                        maxArrayLength="2147483647"
                        maxStringContentLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                           enabled="false" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="wsHttpBindingEndpoint" 
                 receiveTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 maxReceivedMessageSize="2147483647"
                 maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647"
                        maxArrayLength="2147483647"
                        maxStringContentLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true"
                           inactivityTimeout="00:10:00"
                           enabled="false" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="ServiceWCF.ItineraryService">
        <endpoint address="net.tcp://localhost/ServiceWCF/ItineraryService/" binding="netTcpBinding" name="netTcp" bindingConfiguration="netTcpEndpoint" contract="ServiceWCF.IItineraryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" name="mexTcp"
          contract="IMetadataExchange" />
        <endpoint address="" binding="wsHttpBinding" name="wsHttp" bindingConfiguration="wsHttpBindingEndpoint" contract="ServiceWCF.IItineraryService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttp"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost/ServiceWCF/ItineraryService/" />
            <add baseAddress="http://localhost:8733/ServiceWCF/ItineraryService/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation d'informations de métadonnées, 
          définissez les valeurs ci-dessous sur false avant le déploiement -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, 
          définissez la valeur ci-dessous sur true.  Pour éviter la divulgation d'informations d'exception, 
          définissez-la sur false avant le déploiement -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
