<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
              <binding name="netTcp" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
            </netTcpBinding>
            <wsHttpBinding>
              <binding name="wsHttp" receiveTimeout="00:10:00" sendTimeout="00:10:00"
               maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                <readerQuotas maxDepth="2147483647"
                 maxStringContentLength="2147483647"
                 maxArrayLength="2147483647"
                 maxBytesPerRead="2147483647"
                 maxNameTableCharCount="2147483647" />
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost/ServiceWCF/ItineraryService/"
                binding="netTcpBinding" bindingConfiguration="netTcp" contract="VelibServiceTCP.IItineraryService"
                name="netTcp">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/ServiceWCF/ItineraryService/"
                binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="VelibServiceTCP.IItineraryService"
                name="wsHttp">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>